.dashboard{

}


/* Navigation bar */
.nav {
    width: 100%;
    background-color: rgb(3, 64, 207);
}

.nav-content {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    margin-left: 50px;
    margin-right: 22px;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    width: 30%;
}

.nav-left-left {
    width: 50%;
}

.nav-left-right {
    width: 50%;
}

.nav-middle {
    width: 50%;
}

.nav-right {
    width: 15%;
}

:host ::ng-deep .p-button {
    margin-left: 10px;
    font-size: 13px;
    color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

:host ::ng-deep .p-button:focus:not(.focus-visible) {
    outline: none;
}

:host ::ng-deep .mega {
    background-color: rgb(3, 64, 207);
    border-radius: 0%;
    outline: none;
    border: none;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.megamenu {
    /* margin-top: -10px;
    align-items: center; */
    height: 50px;
    width: 100%;
    color: white;
}

.title-card{
    height: 10px;
}

.title{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo-card{
    height: 10px;
}
.logo{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



/* Content */

.content{
    min-width: 100%;
    min-height: 632px;
    background-color: aliceblue;
}







/* Footer */

.footer{
    width: 100%;
    background-color: rgb(3, 0, 68);
}

.footer-content{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    font-size: small;
}

.footer-menu a{
    text-decoration: none;
    color: white;
    padding: 0 8px;
}

.footer-menu a:hover{
    text-decoration: underline;
    transition-duration: 3s;
}